<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Penduduk</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Sistem Kependudukan DKI</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Tambah<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Penduduk</a></li>
                    <li><a href="/keluarga/tambah">Keluarga</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Ubah<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Penduduk</a></li>
                    <li><a href="/keluarga/ubah">Keluarga</a></li>
                </ul>
            </li>
            <li><a href="/penduduk/cari">Cari</a></li>
        </ul>
    </div>
</nav>
<div class="container" style='margin-top:25px'>
    <h3>Tambah Penduduk</h3>
    <form class="form-group" action="" method="post" th:object="${penduduk}">
        <div class="row" style="margin-left:15px">
            <h4 for="nama" >Nama</h4>
            <input class="form-control col-sm-6" type="text" name="nama" th:field="*{nama}" required = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="tempat_lahir" >Tempat Lahir</h4>
            <input class="form-control col-sm-6" type="text" name="tempat_lahir" th:field="*{tempat_lahir}" required = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="nama" >Tanggal Lahir</h4>
            <input class="form-control col-sm-6" type="date" name="tanggal_lahir" th:field="*{tanggal_lahir}" required = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="jenis_kelamin" >Jenis Kelamin</h4>
            <select class="form-control" name="jenis_kelamin" th:value="*{jenis_kelamin}" required = "true">
                <option selected="true" disabled="disabled" th:value="''"></option>
                <option th:value="'0'">Laki-laki</option>
                <option th:value="'1'">Perempuan</option>
            </select>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="golongan_darah" >Golongan Darah</h4>
            <select class="form-control" id="sel1" name="golongan_darah" th:value="*{golongan_darah}">
                <option selected="true" disabled="disabled" value=""></option>
                <option th:value="'A+'">A+</option>
                <option th:value="'A-'">A-</option>
                <option th:value="'B+'">B+</option>
                <option th:value="'B-'">B-</option>
                <option th:value="'O+'">O+</option>
                <option th:value="'O-'">O-</option>
                <option th:value="'AB+'">AB+</option>
                <option th:value="'AB-'">AB-</option>
            </select>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="status_perkawinan" >Status Perkawinan</h4>
            <select class="form-control" name="status_perkawinan" th:value="*{status_perkawinan}" required = "true">
                <option selected="true" disabled="disabled" value=""></option>
                <option th:value="'Belum Kawin'">Belum Kawin</option>
                <option th:value="'Kawin'">Kawin</option>
            </select>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="agama" >Agama</h4>
            <input class="form-control col-sm-6" type="text" name="agama" th:field="*{agama}" required = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="pekerjaan" >Pekerjaan</h4>
            <input class="form-control col-sm-6" type="text" name="pekerjaan" th:field="*{pekerjaan}" required = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="status_kewarganegaraan" >Status Kewarganegaraan</h4>
            <select class="form-control" name="status_kewarganegaraan" th:value="*{is_wni}" required = "true">
                <option selected="true" disabled="disabled" th:value="''"></option>
                <option th:value="'1'">WNI</option>
                <option th:value="'0'">WNA</option>
            </select>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="status_kematian" >Status Kematian</h4>
            <select class="form-control" name="status_kematian" th:value="*{is_wafat}" required = "true">
                <option selected="true" disabled="disabled" value=""></option>
                <option th:value="'0'">Hidup</option>
                <option th:value="'1'">Wafat</option>
            </select>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for= "id_keluarga" >Id Keluarga</h4>
            <input class="form-control col-sm-6" type="text" name="id_keluarga" th:field="*{id_keluarga}" required  = "true"></input>
        </div>
        <div class="row" style="margin-left:15px">
            <h4 for="status_dalam_keluarga" >Status dalam Keluarga</h4>
            <select class="form-control" name="status_dalam_keluarga" id="sel1" th:value="*{status_dalam_keluarga}" required = "true">
                <option selected="true" disabled="disabled" value=""></option>
                <option th:value="'Kepala Keluarga'">Kepala Keluarga</option>
                <option th:value="'Istri'">Istri</option>
                <option th:value="'Anak'">Anak</option>
            </select>
        </div>
        <div>
            <button class="btn-success" name="action" style="margin-top:10px" type="submit">Tambah</button>
        </div>
    </form>

</div>
</body>
</html>

